.slidepdf-container {

    overflow: hidden;
    --swiper-navigation-size: 20px;
}

.slidepdf .swiper-wrapper {
    min-height: 200px;

}

.slidepdf .swiper-slide {
    border-radius: var(--slidepdf-slide-radius, 20px);
    overflow: hidden;
    border: 2px solid #84848444;
    box-sizing: border-box;
}

.slidepdf .controls {
    display: flex;
    margin-top: 10px;
    gap: 10px;
    align-items: center;
}

.slidepdf .controls .download {
    background-color: var(--slidepdf-button-bg, #e6e6e6);
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 1000px;
    height: 40px;
    box-sizing: border-box;
    text-decoration: none;
    margin-left: auto;
    font-weight: 500;
    transition: transform 0.2s ease, opacity 0.2s;
    color: var(--slidepdf-button-icon, #000000);
}

.slidepdf .navigation {
    position: relative !important;
    background-color: var(--slidepdf-button-bg, #e6e6e6);
    padding: 10px;
    border-radius: var(--slidepdf-button-radius, 1000px);
    outline: none;
    border: none;
    width: 40px !important;
    height: 40px !important;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    left: unset !important;
    top: unset !important;
    right: unset !important;
    bottom: unset !important;
    margin: 0 !important;
    aspect-ratio: 1;

    transition: transform 0.2s ease, opacity 0.2s;
}

.slidepdf .navigation.swiper-button-disabled {
    opacity: 0.5;
}

.slidepdf button:active,
.slidepdf a:active {
    transform: scale(0.9);
}

.slidepdf .navigation svg {
    width: 20px !important;
    height: 20px !important;
    fill: var(--slidepdf-button-icon, #000000) !important;
}

.slidepdf .navigation svg path {
    fill: var(--slidepdf-button-icon, #000000) !important;
}

.slidepdf .next svg {
    transform: rotate(-180deg);
}

.slidepdf .swiper-pagination {
    position: relative !important;
    text-align: start !important;

    top: unset !important;
    bottom: unset !important;
    right: unset !important;
    left: unset !important;
}

.slidepdf canvas {
    width: 100%;
}