.slidepdf-container{

    overflow: hidden;
    --swiper-navigation-color: #000000;
    --swiper-navigation-size: 20px;
}

.slidepdf .swiper-wrapper{
    min-height: 200px;

}

.slidepdf .swiper-slide{
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #84848444;
}

.slidepdf .controls{
    display: flex;
    margin-top: 10px;
    gap: 10px;
    align-items: center;
}
.slidepdf .controls .download{
    background-color: #e6e6e6;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 1000px;
    height: 40px;
    box-sizing: border-box;
    text-decoration: none;

}

.slidepdf .swiper-button-prev, .swiper-button-next{
    position: relative !important;
    background-color: #e6e6e6;
    padding: 10px;
    border-radius: 1000px;
    width: 40px !important;
    height: 40px !important;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;

    left: unset !important;
    top: unset !important;
    right: unset !important;
    bottom: unset !important;
    margin: 0 !important;
    aspect-ratio: 1;
}
.slidepdf .swiper-button-prev svg, .swiper-button-next svg{
    width: 20px !important;
    height: 20px !important;
    fill: #121212 !important;
}
.slidepdf .swiper-button-prev svg{
    transform: rotate(-180deg);
}

.slidepdf .swiper-pagination{
    position: relative !important;
    text-align: start !important;
    
    top: unset !important;
    bottom: unset !important;
    right: unset !important;
    left: unset !important;
} 

.slidepdf canvas{
    width: 100%;
}