.slidepdf-container {
    width: var(--slidepdf-width, 100%);
    height: var(--slidepdf-height, 100%);
    overflow: hidden;
    --swiper-navigation-size: 20px;
    --swiper-pagination-bullet-size: var(--slidepdf-pagination_size, 8px);
    --swiper-pagination-color: var(--slidepdf-pagination_active);
    --swiper-pagination-bullet-inactive-color: var(--slidepdf-pagination_color);
    --swiper-pagination-bullet-inactive-opacity: 1;
}

.slidepdf .swiper-wrapper {
    min-height: 200px;
}

.slidepdf .page {
    border-radius: var(--slidepdf-slide_radius, 20px);
    overflow: hidden;
    border-style: solid;
    border-width: var(--slidepdf-slide_border_width, 2px);
    border-color: var(--slidepdf-slide_border_color, #84848444);
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.slidepdf .loading{
    aspect-ratio: 16/9;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--slidepdf-slide_radius, 20px);
}

.slidepdf .loading .spinner {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #9d9d9d #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}

.slidepdf .controls {
    display: flex;
    margin-top: 10px;
    gap: var(--slidepdf-controls_gap, 10px);
    opacity: var(--slidepdf-controls_opacity, 1);
    align-items: center;
}

.slidepdf .controls .download {
    padding: 10px 20px;
    font-size: 15px;
    height: var(--slidepdf-button_size, 40px);
    box-sizing: border-box;
    text-decoration: none;
    margin-left: auto;
    font-weight: 500;
    transition:
        transform 0.2s ease,
        opacity 0.2s;
}


.slidepdf .navigation {
    position: relative !important;
    padding: 10px;
    outline: none;
    border: none;
    width: var(--slidepdf-button_size, 40px);
    height: var(--slidepdf-button_size, 40px);
    box-sizing: border-box;

    left: unset !important;
    top: unset !important;
    right: unset !important;
    bottom: unset !important;
    margin: 0 !important;
    aspect-ratio: 1;

    transition:
        transform 0.2s ease,
        opacity 0.2s;
}

.slidepdf .navigation.swiper-button-disabled {
    opacity: 0.5;
}

.slidepdf button:active,
.slidepdf a:active {
    transform: scale(0.9);
}

.slidepdf .navigation svg {
    width: 20px !important;
    height: 20px !important;
    fill: var(--slidepdf-button_icon, #000000) !important;
}

.slidepdf .navigation svg path {
    fill: var(--slidepdf-button_icon, #000000) !important;
}

.slidepdf .controls .download,
.slidepdf .navigation {
    background-color: var(--slidepdf-button_bg, #e6e6e6);
    border-style: solid;
    border-radius: var(--slidepdf-button_radius, 1000px);
    border-width: var(--slidepdf-button_border_width, 0px);
    border-color: var(--slidepdf-button_border_color, none);
    color: var(--slidepdf-button_icon, #000000);

    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.slidepdf .next svg {
    transform: rotate(-180deg);
}

.slidepdf .swiper-pagination {
    position: relative !important;
    text-align: start !important;
    display: flex;
    top: unset !important;
    bottom: unset !important;
    right: unset !important;
    left: unset !important;
    outline: none;
}

.slidepdf canvas {
    width: 100%;
    display: block;
}
